.sprite-sprite, .sprite-alert, .sprite-author-share, .sprite-cadastrese, .sprite-door, .sprite-email-menor-bt, .sprite-enviar-news, .sprite-facebook-author, .sprite-facebook-bt, .sprite-facebook-menor-bt, .sprite-facebook-mobile, .sprite-footer-facebook, .sprite-footer-gplus, .sprite-footer-instagram, .sprite-footer-twitter, .sprite-form, .sprite-gplus-author, .sprite-gplus-mobile, .sprite-home-user, .sprite-key, .sprite-logoff, .sprite-lupa, .sprite-mais, .sprite-marisa-com-br, .sprite-monthyear, .sprite-next, .sprite-pencil, .sprite-people, .sprite-positive, .sprite-previous, .sprite-share-author, .sprite-share-mobile, .sprite-sprite-busca, .sprite-sprite-facebook, .sprite-sprite-gplus, .sprite-sprite-instagram, .sprite-sprite-twitter, .sprite-sprite-vou-de-marisa, .sprite-sprite-youtube, .sprite-twitter-author, .sprite-twitter-bt, .sprite-twitter-mobile, .sprite-unlogged, .sprite-user-site {
  background: url('../images/sprite-seab706861c.png') no-repeat;
}

.sprite-alert {
  background-position: 0 -695px;
}

.sprite-author-share {
  background-position: 0 -1256px;
}

.sprite-cadastrese {
  background-position: 0 -1486px;
}

.sprite-door {
  background-position: 0 -1445px;
}

.sprite-email-menor-bt {
  background-position: 0 -469px;
}

.sprite-enviar-news {
  background-position: 0 -603px;
}

.sprite-facebook-author {
  background-position: 0 -1215px;
}

.sprite-facebook-bt {
  background-position: 0 -402px;
}

.sprite-facebook-menor-bt {
  background-position: 0 -320px;
}

.sprite-facebook-mobile {
  background-position: 0 -977px;
}

.sprite-footer-facebook {
  background-position: 0 -1360px;
}

.sprite-footer-gplus {
  background-position: 0 -917px;
}

.sprite-footer-instagram {
  background-position: 0 -1166px;
}

.sprite-footer-twitter {
  background-position: 0 -947px;
}

.sprite-form {
  background-position: 0 -1471px;
}

.sprite-gplus-author {
  background-position: 0 -1030px;
}

.sprite-gplus-mobile {
  background-position: 0 -550px;
}

.sprite-home-user {
  background-position: 0 -873px;
}

.sprite-key {
  background-position: 0 -1434px;
}

.sprite-logoff {
  background-position: 0 -1346px;
}

.sprite-lupa {
  background-position: 0 -815px;
}

.sprite-mais {
  background-position: 0 -1530px;
}

.sprite-marisa-com-br {
  background-position: 0 -444px;
}

.sprite-monthyear {
  background-position: 0 -1300px;
}

.sprite-next {
  background-position: 0 -1098px;
}

.sprite-pencil {
  background-position: 0 -1390px;
}

.sprite-people {
  background-position: 0 -1405px;
}

.sprite-positive {
  background-position: 0 -1196px;
}

.sprite-previous {
  background-position: 0 -1056px;
}

.sprite-share-author {
  background-position: 0 -1278px;
}

.sprite-share-mobile {
  background-position: 0 -642px;
}

.sprite-sprite-busca {
  background-position: 0 -840px;
}

.sprite-sprite-facebook {
  background-position: 0 -1500px;
}

.sprite-sprite-gplus {
  background-position: 0 -1241px;
}

.sprite-sprite-instagram {
  background-position: 0 -1419px;
}

.sprite-sprite-twitter {
  background-position: 0 -1332px;
}

.sprite-sprite-vou-de-marisa {
  background-position: 0 -358px;
}

.sprite-sprite-youtube {
  background-position: 0 -1459px;
}

.sprite-twitter-author {
  background-position: 0 -1140px;
}

.sprite-twitter-bt {
  background-position: 0 -508px;
}

.sprite-twitter-mobile {
  background-position: 0 -762px;
}

.sprite-unlogged {
  background-position: 0 0;
}

.sprite-user-site {
  background-position: 0 -1515px;
}

@font-face {
  font-family: "verlaglight";
  src: url('../fonts/verlaglight.woff') format('woff');
}

@font-face {
  font-family: "verlagbook";
  src: url('../fonts/verlagbook.woff') format('woff');
}

@font-face {
  font-family: "verlagbold";
  src: url('../fonts/verlagbook.woff') format('woff');
}

@font-face {
  font-family: "archerbold";
  src: url('../fonts/archer-bold-opentype.woff') format('woff');
}

body {
  background: #FFF;
}

#sup-header {
  height: 34px;
  background-color: #000;
  margin-bottom: 1px solid #888888;
  z-index: 1;
  position: relative;
}
#sup-header ul {
  display: block;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  overflow: hidden;
  height: 100%;
}
#sup-header li {
  display: inline-block;
  margin: 7.5px 24px;
  overflow: hidden;
}
#sup-header li a {
  color: #fff;
  font-size: 14px;
}
#sup-header li.box {
  margin: 10px 8px;
}
#sup-header li.box a {
  text-indent: -99999px;
  display: block;
  width: 100%;
  opacity: 0;
}

#header {
  width: 100%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px -2px 30px 2px #aaaaaa;
}
#header h1 {
  display: block;
  /*width: image-width("sprite/sprite-vou-de-marisa.png");
  height: image-height("sprite/sprite-vou-de-marisa.png");
  text-indent: -99999px;*/
  font-family: "Sanchez-Italic";
  margin: 9px 0;
  float: left;
  cursor: pointer;
}
#header form {
  width: 381px;
  height: 31px;
  float: left;
  margin: 16px 55px;
}
#header form input {
  width: 347px;
  height: 29px;
  border: 1px solid #dddedf;
  background: transparent;
  text-indent: 10px;
  float: left;
  color: #a7a9ac;
}
#header form button {
  border: 1px solid #dddedf;
  border-left: 0px;
  width: 30px;
  height: 33px;
  text-indent: -9999px;
  float: left;
  cursor: pointer;
}
#header form.logged {
  width: 451px;
}
#header form.logged input {
  width: 417px;
}
#header a.nav {
  border: 1px solid #dddedf;
  background: transparent;
  text-indent: 10px;
  float: left;
  margin: 16px 5px;
  height: 29px;
  padding: 0 12px;
  color: #a7a9ac;
  line-height: 30px;
}
#header .sprite-home-user {
  text-indent: 20px;
  float: right;
  margin: 16px 5px;
  height: 29px;
  padding: 0 12px;
  color: #000;
  line-height: 36px;
  font-family: 'verlaglight';
  font-size: 14px;
  background: url(../images/sprite/home-user.png) no-repeat -6px -6px;
}
#header .sprite-home-user a {
  color: #000;
  text-decoration: underline;
}
#header ico {
  display: block;
  float: left;
  cursor: pointer;
  margin-top: 7px;
}
#header nav ul {
  clear: both;
  border-top: 1px solid #efefef;
  overflow: hidden;
}
#header nav ul li {
  cursor: pointer;
  float: left;
  line-height: 44px;
  min-width: 19.9%;
  text-align: center;
  border-right: 1px solid #efefef;
  z-index: 1;
}
#header nav ul li:last-child {
  border-right: 0px solid #efefef;
}
#header nav ul li.cat-item-5 {
  border-right: 0px solid #efefef;
}
#header nav ul li a {
  font-family: "verlaglight", "Arial";
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  display: block;
}
#header nav ul li ul.children {
  width: 14.9%;
  display: none;
  position: absolute;
  z-index: 6;
}
#header nav ul li:hover {
  background: #eee;
}
#header nav ul li:hover ul.children {
  display: block;
}
#header nav ul li ul.children li {
  width: 100%;
  background: #eee;
  text-align: left;
  text-indent: 20px;
}
#header nav ul li ul.children li:hover {
  background: #fff;
}
#header nav ul li ul.children li a {
  text-transform: capitalize;
  display: block;
}

#banner {
  position: relative;
  min-height: 320px;
  background: #fff;
  background-repeat: repeat;
  background-position: top center;
  overflow: hidden;
}
#banner .container {
  position: relative;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}
#banner ico {
  cursor: pointer;
  top: 40%;
  position: absolute;
  text-indent: -99999px;
  z-index: 4;
  margin-left: calc(50% - 480px);
}
#banner ico.next {
  left: auto;
  margin-right: calc(50% - 480px);
}
#banner ul {
  position: absolute;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
#banner ul li {
  position: absolute;
  width: 100%;
  height: 320px;
}
#banner ul li .headerBg {
  position: absolute;
  display: block;
  width: 100%;
  height: 320px;
  background-repeat: repeat;
  background-position: top center;
  opacity: 0;
}
#banner ul li a {
  position: absolute;
  display: block;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0;
  z-index: 3;
}
#banner .bullets {
  position: absolute;
  margin-top: 280px;
  margin-left: calc(50% - 408px);
  z-index: 4;
  overflow: hidden;
}
#banner .bullets a {
  display: block;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin: 3px;
  text-indent: -99999px;
}
#banner .bullets a.active {
  background: #fff;
}

#index {
  overflow: hidden;
  /*padding-bottom: 25px;*/
}

#artigos {
  margin: 0px auto;
  overflow: hidden;
  /*background: rgba(255,255,255,.8);*/
}
#artigos .artigo {
  position: relative;
  float: left;
  width: 300px;
  overflow: hidden;
  min-height: 335px;
  margin: 20px 0px 0px 20px;
}
#artigos .artigo .attachment-post-thumbnail.wp-post-image {
  position: absolute;
  top: 0;
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -ms-filter: brightness(0.7);
  -o-filter: brightness(0.7);
  filter: brightness(0.7);
}
#artigos .artigo .call-box {
  position: absolute;
  bottom: 12px;
}
#artigos .artigo .call-box h2 {
  border-top: 1px solid white;
  width: 90%;
  display: block;
  line-height: 20px;
  padding-top: 4px;
  margin: 0 5%;
  font-family: 'verlagbold';
  font-size: 16px;
}
#artigos .artigo .call-box h2 a {
  color: #fff;
  text-transform: uppercase;
}
#artigos .artigo .call-box h3 {
  width: 90%;
  margin: 1% 5%;
  overflow: hidden;
}
#artigos .artigo .call-box h3 ul li {
  float: left;
  background-color: #de0084;
  display: block;
  line-height: 22px;
  margin: 2px 5px 2px 0;
  font-family: 'verlagbold';
  font-size: 10px;
}
#artigos .artigo .call-box h3 ul li a {
  padding: 0 5px;
  color: #fff;
  text-transform: uppercase;
}
#artigos .artigo .call-box p {
  width: 90%;
  margin: 0 5%;
  padding: 0 0px;
  color: #fff;
}
#artigos .artigo .call-box p a {
  color: #fff;
  text-decoration: none;
}
#artigos .artigo.first {
  margin: 20px 0px 0px 0px;
}
#artigos .content_post {
  width: 74%;
  float: left;
  margin: 40px 2% 40px 0;
  overflow: hidden;
  color: #000;
}
#artigos .content_post h2 {
  font-family: 'verlagbold';
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -4px;
  text-indent: 14px;
  color: #000;
}
#artigos .content_post h3 {
  font-family: 'verlagbold';
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding-left: 74px;
  margin: 0;
  color: #000;
  min-height: 44px;
  border-bottom: 1px solid #afb0b2;
}
#artigos .content_post span.date {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
}
#artigos .content_post span.date span {
  line-height: 24px;
  width: 56px;
  height: 28px;
  display: block;
  font-size: 18px;
  text-align: center;
  background: #de0084;
  font-family: 'verlagbold';
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
}
#artigos .content_post span.date b {
  font-size: 9px;
  line-height: 12px;
  color: #fff;
  display: block;
  height: 28px;
  font-weight: 200;
  text-transform: capitalize;
  padding-top: 4px;
  text-align: center;
}
#artigos .content_post p {
  font-family: 'verlaglight';
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  text-align: justify;
}
#artigos .content_post .unlogged {
  width: 699px;
  height: 320px;
  display: block;
  clear: both;
}
#artigos .content_post .unlogged .text {
  padding-top: 50px;
  margin: 0px auto 14px;
  border-bottom: 1px solid white;
  color: #fff;
  width: 230px;
}
#artigos .content_post .unlogged .text h4 {
  border-top: 1px solid white;
  font-family: "archerbold";
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0 6px;
}
#artigos .content_post .unlogged .text p {
  font-family: "verlaglight";
  font-size: 13px;
  padding-bottom: 0px;
  margin: 0 0 10px 0;
}
#artigos .content_post .unlogged .social-bt {
  display: block;
  text-indent: -99999px;
  width: 187px;
  height: 38px;
  margin: 8px auto;
}
#artigos .content_post .postshare {
  text-indent: 10px;
  margin-top: 14px;
  overflow: hidden;
}
#artigos .content_post .postshare ico {
  display: block;
  float: left;
  margin-top: 2px;
  width: 17px;
  height: 22px;
}
#artigos .content_post .postshare a {
  width: 26px;
  height: 26px;
  float: left;
  margin: 0px 7px 0 0;
  text-indent: -99999px;
}
#artigos .content_post .postshare header {
  background: #de0084;
  display: block;
  height: 26px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  text-indent: 10px;
  float: left;
  padding-right: 7px;
  margin-right: 7px;
}
#artigos .content_post .posttags {
  overflow: hidden;
  display: block;
  clear: both;
  margin: 16px 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-family: 'verlagbold';
  font-size: 14px;
  text-transform: uppercase;
}
#artigos .content_post .posttags span {
  width: 50px;
  height: 28px;
  line-height: 28px;
  background: #de0084;
  display: block;
  float: left;
}
#artigos .content_post .posttags a {
  font-family: 'verlagbook';
  color: #a7a9ac;
  float: left;
  padding: 0 0;
  margin: 0 0 0 10px;
  height: 28px;
  line-height: 28px;
}
#artigos .content_post .posttags a:hover {
  padding: 4px 0 0;
  height: 20px;
  line-height: 20px;
  border-bottom: 4px solid #a7a9ac;
}
#artigos .content_post .facebook-comentarios {
  border: 1px solid #cccccc;
}
#artigos .content_post .facebook-comentarios h3 {
  padding-left: 0px;
  line-height: 31px;
  text-indent: 22px;
  background: #de0084;
  border: 0;
  height: 31px;
  color: #fff;
  font-family: 'verlagbold';
  font-size: 16px;
  text-transform: uppercase;
  min-height: 0;
}
#artigos .content_post .commentlist .comment-body {
  position: relative;
  border-bottom: 1px solid #cccccc;
  clear: both;
  overflow: hidden;
}
#artigos .content_post .commentlist .comment-body .comment-author {
  position: relative;
  padding: 30px;
  display: block;
  float: left;
}
#artigos .content_post .commentlist .comment-body .comment-author span {
  display: none;
}
#artigos .content_post .commentlist .comment-body .comment-author .fn {
  position: absolute;
  display: block;
  top: 30px;
  left: 124px;
  width: 160px;
  overflow: hidden;
}
#artigos .content_post .commentlist .comment-body .comment-author .fn a {
  opacity: 1;
  font-weight: bold;
  text-transform: capitalize;
}
#artigos .content_post .commentlist .children .comment-body {
  padding-left: 58px;
}
#artigos .content_post .commentlist a {
  font-family: 'arial';
  font-size: 14px;
  color: #000;
  opacity: .6;
  font-weight: 100;
}
#artigos .content_post .commentlist .comment-meta {
  display: block;
  float: left;
  padding: 30px 0 0 168px;
}
#artigos .content_post .commentlist .reply {
  float: right;
  padding: 30px 30px 0;
}
#artigos .content_post .commentlist p {
  float: left;
  position: absolute;
  left: 124px;
  top: 40px;
  font-family: 'arial';
  font-size: 13px;
  line-height: 15px;
}
#artigos .content_post .commentlist .children p {
  left: 182px;
}
#artigos .content_post #respond {
  padding: 20px;
  clear: both;
}
#artigos .content_post #respond h3 {
  display: none;
}
#artigos .content_post #respond fieldset label {
  display: none;
}
#artigos .content_post #respond textarea {
  width: 96%;
  height: 80px;
  padding: 2%;
}
#artigos .content_post #respond .commentsubmit {
  display: block;
  width: 150px;
  height: 32px;
  background: #de0084;
  color: #fff;
  font-family: 'verlagbold';
  font-size: 16px;
  border: 0;
  margin-top: 4px;
  cursor: pointer;
}
#artigos .content_post #respond .cancel {
  display: none;
}

.pagecontent {
  padding-bottom: 15px;
  border-bottom: 1px solid #afb0b2;
  overflow: hidden;
}
.pagecontent h1 {
  font-family: 'verlagbold';
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  line-height: 22px;
  margin: 45px 0 30px;
  border-bottom: 1px solid #a9aaad;
  padding: 6px 0;
}
.pagecontent h1 a {
  line-height: 22px;
  color: #000;
  border-bottom: 3px solid #a9aaad;
  padding: 6px 0;
}
.pagecontent p {
  font-family: 'verlaglight';
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 2px 0 14px;
}
.pagecontent .author {
  width: 220px;
  min-height: 348px;
  background: #e6e7e8;
  overflow: hidden;
  display: block;
  float: left;
  margin: 10px 0 10px 20px;
}
.pagecontent .author .avatar {
  width: 220px;
  height: 220px;
  overflow: hidden;
  display: block;
}
.pagecontent .author .avatar img {
  width: 220px;
}
.pagecontent .author .name {
  font-family: 'verlagbold';
  font-size: 18px;
  color: #000;
  display: block;
  padding: 8px 12px;
}
.pagecontent .author .description {
  font-family: 'verlaglight';
  font-size: 12px;
  line-height: 14px;
  padding: 0 12px 8px;
  display: block;
  height: 50px;
  overflow: hidden;
}
.pagecontent .author .site {
  font-family: 'verlagbook';
  font-size: 14px;
  color: #de0084;
  margin: 0px 12px;
  padding: 10px 0;
  border-top: 1px solid #adaeb1;
  display: block;
  text-indent: 10px;
  line-height: 22px;
}
.pagecontent .author .site ico {
  display: block;
  float: left;
  width: 16px;
  height: 15px;
  margin-top: 4px;
}
.pagecontent .author.first {
  margin: 10px 0 10px 0px;
}

.resultados {
  display: block;
  background: #fff;
  height: 40px;
  font-family: 'verlaglight';
  font-size: 14px;
  color: #000;
}
.resultados ico {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  margin: 6px 10px 0;
}
.resultados p {
  float: left;
  line-height: 38px;
  margin: 0;
}
.resultados p span {
  color: #de0084;
  font-size: 18px;
  font-style: italic;
}
.resultados p b {
  font-family: 'verlagbold';
  font-weight: 900;
  color: #de0084;
}

#sidebar {
  width: 225px;
  float: left;
}
#sidebar .author {
  width: 225px;
  float: left;
  margin: 40px 4% 40% 0;
  overflow: hidden;
  color: #000;
}
#sidebar .author img {
  width: 100%;
}
#sidebar .author h4 {
  font-family: 'verlagbold';
  font-size: 18px;
  line-height: 22px;
  padding: 6px 0;
}
#sidebar .author p {
  font-family: 'verlaglight';
  font-size: 14px;
  line-height: 18px;
}
#sidebar .author .authorshare {
  text-indent: 10px;
  border-top: 1px solid #939598;
  margin-top: 14px;
}
#sidebar .author .authorshare ico {
  display: block;
  float: left;
  width: 17px;
  height: 22px;
}
#sidebar .author .authorshare a {
  width: 26px;
  height: 26px;
  float: left;
  margin: 6px 6px 0 0;
  text-indent: -99999px;
}
#sidebar .author .authorshare header {
  margin-top: 14px;
  background: #de0084;
  display: block;
  height: 23px;
  line-height: 23px;
  color: white;
  text-transform: uppercase;
  text-indent: 10px;
}

.col1, .col1.naoencontrado {
  width: 49%;
  float: left;
}
.col1 h5, .col1.naoencontrado h5 {
  font-family: 'verlagbold';
  font-size: 18px;
  color: #de0084;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 119px;
}
.col1 h5 ico, .col1.naoencontrado h5 ico {
  float: left;
  display: block;
  width: 76px;
  height: 67px;
}
.col1 .busca-box, .col1.naoencontrado .busca-box {
  border: 1px solid #a9aaad;
  padding: 0 0 42px 0;
}
.col1 .busca-box h4, .col1.naoencontrado .busca-box h4 {
  font-family: 'verlagbold';
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-indent: 40px;
  background: #de0084;
  display: block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-indent: 24px;
  margin-bottom: 40px;
}
.col1 .busca-box p, .col1.naoencontrado .busca-box p {
  padding: 0 24px;
  margin: 2px 0;
  text-indent: 24px;
  line-height: 54px;
}
.col1 .busca-box p .sprite-positive, .col1.naoencontrado .busca-box p .sprite-positive {
  margin-top: 11px;
  float: left;
  display: block;
  width: 18px;
  height: 19px;
}
.col1 .busca-box p .sprite-key, .col1.naoencontrado .busca-box p .sprite-key {
  margin-top: 18px;
  float: left;
  display: block;
  width: 22px;
  height: 11px;
}
.col1 .busca-box p .sprite-pencil, .col1.naoencontrado .busca-box p .sprite-pencil {
  margin-top: 15px;
  float: left;
  display: block;
  width: 15px;
  height: 15px;
}
.col1 .font16, .col1.naoencontrado .font16 {
  font-size: 16px;
}
.col1 .bold, .col1.naoencontrado .bold {
  font-family: 'verlagbold';
  clear: both;
  line-height: 50px;
  margin-left: 21%;
}
.col1 .bolder, .col1.naoencontrado .bolder {
  font-family: 'verlagbold'!important;
  margin: 0 0 20px !important;
  font-size: 16px!important;
}
.col1 label, .col1.naoencontrado label {
  font-family: 'verlaglight';
  font-size: 14px;
  color: #000;
  line-height: 44px;
  clear: both;
  width: 100%;
  display: block;
  float: left;
}
.col1 input[type=text], .col1 input[type=password], .col1.naoencontrado input[type=text], .col1.naoencontrado input[type=password] {
  height: 22px;
  width: 78%;
  border: 1px solid #c0c1c3;
  float: right;
  margin-top: 10px;
}
.col1 #estado, .col1.naoencontrado #estado {
  margin-top: 10px;
  border: 1px solid #c0c1c3;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: white url(../images/combo-arrows.gif) no-repeat center right;
  display: block;
  height: 22px;
  width: 41%;
  margin-right: 38%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  float: right;
  text-indent: 6px;
}
.col1 input.half, .col1.naoencontrado input.half {
  width: 40%;
  margin-right: 38%;
}
.col1 input[type=checkbox], .col1.naoencontrado input[type=checkbox] {
  margin-left: 21%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #c0c1c3;
  outline: none;
  display: inline-block;
  /*-webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;*/
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.col1 button, .col1.naoencontrado button {
  background: #de0084;
  font-family: 'verlagbold';
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #c0c1c3;
  outline: none;
  display: inline-block;
  padding: 7px 10px 7px;
  margin-left: 21%;
  margin-top: 10px;
  float: left;
}
.col1 button ico, .col1.naoencontrado button ico {
  width: 11px;
  height: 14px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.col1 button ico.sprite-logoff, .col1.naoencontrado button ico.sprite-logoff {
  width: 14px;
  height: 14px;
}
.col1 .newuser .social-bt, .col1.naoencontrado .newuser .social-bt {
  display: block;
  text-indent: -99999px;
  width: 243px;
  height: 42px;
  margin: 12px 0;
}

.col2, .col2.naoencontrado {
  width: 49%;
  float: right;
}
.col2 img, .col2.naoencontrado img {
  width: 100%;
  margin-top: 10px;
}

#relacionados {
  background: #e6e7e8;
  overflow: hidden;
  padding-bottom: 20px;
}
#relacionados header {
  font-size: 18px;
  font-family: 'verlagbold';
  color: #000;
  line-height: 20px;
  display: block;
  margin-top: 20px;
}
#relacionados header span {
  font-family: 'verlaglight';
}
#relacionados .artigo {
  position: relative;
  float: left;
  width: 300px;
  overflow: hidden;
  min-height: 335px;
  margin: 20px 0px 0px 20px;
}
#relacionados .artigo .attachment-post-thumbnail.wp-post-image {
  position: absolute;
  top: 0;
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -ms-filter: brightness(0.7);
  -o-filter: brightness(0.7);
  filter: brightness(0.7);
}
#relacionados .artigo .call-box {
  position: absolute;
  bottom: 12px;
}
#relacionados .artigo .call-box h2 {
  border-top: 1px solid white;
  width: 90%;
  display: block;
  line-height: 20px;
  margin: 0 5%;
  font-family: 'verlagbold';
  font-size: 16px;
  padding-top: 4px;
}
#relacionados .artigo .call-box h2 a {
  color: #fff;
  text-transform: uppercase;
}
#relacionados .artigo .call-box h3 {
  width: 90%;
  margin: 1% 5%;
  overflow: hidden;
}
#relacionados .artigo .call-box h3 ul li {
  float: left;
  background-color: #de0084;
  display: block;
  line-height: 22px;
  margin: 2px 5px 2px 0;
  font-family: 'verlagbold';
  font-size: 10px;
}
#relacionados .artigo .call-box h3 ul li a {
  padding: 0 5px;
  color: #fff;
  text-transform: uppercase;
}
#relacionados .artigo .call-box p {
  width: 90%;
  margin: 0 5%;
  padding: 0 0px;
  color: #fff;
}
#relacionados .artigo .call-box p a {
  color: #fff;
}
#relacionados .artigo.first {
  margin: 20px 0px 0px 0px;
}

#socials {
  padding-bottom: 20px;
  overflow: hidden;
  background: #fff;
  padding-top: 25px;
}
#socials .social_box {
  width: 220px;
  overflow: hidden;
  display: block;
  float: left;
  margin-left: 20px;
  background: white;
}
#socials .social_box header {
  height: 30px;
  background: #a9aaad;
  padding: 10px;
}
#socials .social_box header a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Arial';
  line-height: 16px;
}
#socials .social_box header a ico {
  width: 36px;
  height: 30px;
  display: block;
  float: left;
  border-right: 1px solid white;
  margin-right: 6px;
}
#socials .social_box header a span {
  text-transform: none;
  font-size: 12px;
  line-height: 14px;
  display: block;
  font-family: 'Arial';
}
#socials .social_box footer {
  height: 16px;
  background: #a9aaad;
  padding: 5px;
  text-align: center;
}
#socials .social_box footer a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Arial';
}
#socials .facebook {
  margin-left: 0%;
}
#socials .facebook ul {
  padding: 0 10px;
  margin: 0 auto;
  background: #333333;
  height: 181px;
  overflow-x: auto;
}
#socials .facebook ul li {
  padding: 2px 0;
  color: #CCC;
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
}
#socials .facebook ul li img {
  display: block;
  float: left;
  margin: 4px 6px 0px 0px;
  width: 32px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
#socials .facebook ul .first {
  line-height: 24px;
}
#socials .twitter ul {
  padding: 0 10px;
  margin: 0 auto;
  background: #333333;
  height: 181px;
  overflow-x: auto;
}
#socials .twitter ul li {
  padding: 2px 0;
  color: #CCC;
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
}
#socials .twitter ul li img {
  display: block;
  float: left;
  margin: 4px 6px 0px 0px;
  width: 32px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
#socials .twitter ul .first {
  line-height: 24px;
}
#socials .instagram ul {
  padding: 4px 4px;
  margin: 0 auto;
  background: #333333;
  height: 173px;
  overflow-x: auto;
}
#socials .instagram ul li img {
  width: 30%;
  margin: 3px;
  float: left;
}
#socials .gplus ul {
  padding: 4px 4px;
  margin: 0 auto;
  height: 173px;
  overflow-x: auto;
}
#socials .gplus ul h2 {
  color: #666;
  font-size: 12px;
  font-family: 'Arial';
  line-height: 35px;
  position: relative;
  text-indent: 43px;
}
#socials .gplus ul h2 img {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50px;
  width: 24px;
}
#socials .gplus ul h2 span {
  color: #CCC;
  font-size: 10px;
  font-family: 'Arial';
  line-height: 15px;
  text-indent: 43px;
  display: block;
  margin: -13px 0 10px 0;
  font-weight: 100;
}
#socials .gplus ul p {
  font-size: 10px;
  padding: 5px 10px;
  overflow: hidden;
}
#socials .gplus ul .postImage {
  width: 100%;
}

div.parceiros {
  padding: 8px 0;
  background: #d1d3d4;
  height: 52px;
  position: relative;
}
div.parceiros h4 {
  text-align: center;
  width: 202px;
  border-top: 1px solid #97999c;
  border-bottom: 1px solid #97999c;
  font-family: 'verlaglight';
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  color: #000;
}
div.parceiros h4 a {
  color: #000;
}
div.parceiros h4 span {
  display: block;
  font-size: 11px;
  text-transform: none;
}
div.parceiros img {
  position: absolute;
  bottom: -8px;
  left: 250px;
}
div.parceiros .container {
  position: relative;
}

#footer {
  width: 100%;
  background: #de0084;
}
#footer p {
  font-size: 15px;
  color: #fff;
  font-family: 'verlagbook';
  line-height: 22px;
  text-align: right;
  margin-top: 8px;
}
#footer form p {
  text-align: left;
}
#footer form {
  width: 60%;
  float: left;
  margin-top: 8px;
  margin-bottom: 6px;
}
#footer form input {
  width: 74%;
  height: 37px;
  background: #fff;
  border: 0;
  float: left;
  text-indent: 17px;
}
#footer form button {
  float: right;
  width: 20%;
  height: 39px;
  border: 1px solid white;
  text-indent: -99999px;
  margin-right: 4%;
}
#footer .container {
  padding-bottom: 2px;
  overflow: hidden;
}
#footer .container div {
  width: 29%;
  float: right;
  border-left: 1px solid white;
  margin-top: 13px;
  min-height: 68px;
}
#footer .container div p {
  font-size: 16px;
  margin-top: 11px;
}
#footer .marisasite {
  display: block;
  text-align: right;
  margin: 2% auto 0;
}
#footer .marisasite img {
  max-width: 144px;
}
#footer p.copyright {
  line-height: 30px;
  color: #fff;
  font-family: 'Arial';
  font-size: 11px;
  clear: both;
  text-align: center;
  margin-top: 10px;
  background: #cc0a7c;
}

.film {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: .7;
  top: 0;
  left: 0;
}

.formnewuser {
  z-index: 99;
  width: 840px;
  height: 511px;
  position: fixed;
  background-color: #de0084;
  top: calc(50% - 255px);
  left: calc(50% - 420px);
}
.formnewuser .title {
  font-family: "archerbold";
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  line-height: 27px;
  text-indent: 20px;
  position: relative;
}
.formnewuser .title a {
  display: block;
  width: 20px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-decoration: none;
  text-indent: 0px;
  font-family: "Arial";
  font-weight: 900;
}
.formnewuser .left {
  width: 60%;
  height: 485px;
  background: white;
  float: left;
}
.formnewuser .right {
  width: 40%;
  height: 485px;
  background: white;
  float: left;
}
.formnewuser .right .text {
  margin: 20px 38px 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.formnewuser .right .text h4 {
  font-family: "archerbold";
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  padding: 20px 0;
}
.formnewuser .right .text p {
  font-family: "verlaglight";
  font-size: 14px;
  padding-bottom: 20px;
}
.formnewuser .social-bt {
  display: block;
  text-indent: -99999px;
  width: 243px;
  height: 42px;
  margin: 12px auto;
}

nav.fixed_menu {
  z-index: 999999;
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 -1px 6px 1px #3b3b3b;
  box-shadow: 0 -1px 6px 1px #3b3b3b;
  height: 45px;
}
nav.fixed_menu ul {
  clear: both;
  border-top: 1px solid #efefef;
  overflow: hidden;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
nav.fixed_menu ul li {
  cursor: pointer;
  float: left;
  line-height: 44px;
  min-width: 16.66%;
  text-align: center;
  border-right: 1px solid #efefef;
  z-index: 1;
}
nav.fixed_menu ul li:first-child {
  border-right: 0px solid #efefef;
  width: 76px!important;
  min-width: 0;
}
nav.fixed_menu ul li:first-child a {
  padding-top: 10px;
  height: 34px!important;
}
nav.fixed_menu ul li.sprite-home-user:last-child {
  width: 76px!important;
  min-width: 0;
}
nav.fixed_menu ul li:last-child {
  border-right: 0px solid #efefef;
}
nav.fixed_menu ul li.sprite-home-user {
  width: 61px;
  height: 44px;
}
nav.fixed_menu ul li.sprite-home-user a {
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: underline;
  text-indent: 30px;
  line-height: 46px;
}
nav.fixed_menu ul li.sprite-home-user:hover {
  background: url("../images/sprite/home-user.png") !important;
}
nav.fixed_menu ul li a {
  font-family: "verlaglight", "Arial";
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  display: block;
}
nav.fixed_menu ul li ul.children {
  width: 15.7%;
  display: none;
  position: absolute;
  z-index: 6;
}
nav.fixed_menu ul li:hover {
  background: #eee;
}
nav.fixed_menu ul li:hover ul.children {
  display: block;
}
nav.fixed_menu ul li ul.children li {
  width: 80%;
  background: #eee;
  text-align: left;
  text-indent: 20px;
}
nav.fixed_menu ul li ul.children li:first-child {
  border-right: 0px solid #efefef;
  width: 80%!important;
  min-width: 0;
}
nav.fixed_menu ul li ul.children li:first-child a {
  padding-top: 10px;
  height: 34px!important;
}
nav.fixed_menu ul li ul.children li:last-child {
  width: 80%!important;
  border-right: 0px solid #efefef;
  min-width: 0;
}
nav.fixed_menu ul li ul.children li:hover {
  background: #fff;
}
nav.fixed_menu ul li ul.children li a {
  text-transform: capitalize;
  display: block;
}

#hiddenDIV {
  display: none;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.loaderPage {
  display: none;
  width: 100%;
}
.loaderPage img {
  display: block;
  margin: 10px auto;
}

button.mais {
  text-transform: uppercase;
  background: #de0084;
  font-family: 'verlagbold';
  font-size: 12px;
  color: #fff;
  border-radius: 0px;
  border: 0px solid #c0c1c3;
  outline: none;
  display: block;
  padding: 10px;
  margin: 30px auto 80px;
  cursor: pointer;
}
button.mais ico {
  width: 12px;
  height: 12px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.box {
  display: block;
}

.sprite-sprite-facebook {
  width: 8px;
  height: 15px;
}

.sprite-sprite-youtube {
  width: 16px;
  height: 12px;
}

.sprite-sprite-twitter {
  width: 18px;
  height: 14px;
}

.sprite-sprite-instagram {
  width: 15px;
  height: 15px;
}

.sprite-sprite-gplus {
  width: 16px;
  height: 15px;
}

.sprite-people {
  width: 20px;
  height: 14px;
}

.sprite-form {
  width: 11px;
  height: 15px;
}

.sprite-door {
  width: 13px;
  height: 14px;
}

.sprite-previous {
  width: 30px;
  height: 42px;
}

.sprite-next {
  width: 30px;
  height: 42px;
}

#wpadminbar {
  display: none;
}

#wpadminbar.visible {
  display: block;
  min-height: 0;
  height: 32px;
  overflow: hidden;
  background-color: black;
  min-width: 0px;
  width: 280px;
  position: absolute;
}

html {
  margin-top: 0px !important;
}

button {
  cursor: pointer;
}

.mobile {
  display: none;
}

@media screen and (max-width: 995px) {
  #sup-header, .hidemobile, .fixed_menu, .parceiros, #socials {
    display: none!important;
  }

  .mobile {
    display: block;
  }

  .formnewuser {
    width: 90%;
    top: calc(50% - 330px);
    left: calc(50% - 230px);
    height: auto;
    max-width: 460px;
  }
  .formnewuser .left {
    width: 100%;
    height: auto;
  }
  .formnewuser .left img {
    width: 100%;
  }
  .formnewuser .right {
    width: 100%;
    height: auto;
  }
  .formnewuser .right .text {
    margin: 0px 10px 10px;
  }
  .formnewuser .right .text h4 {
    font-size: 17px;
    padding: 10px 0;
  }
  .formnewuser .right .text p {
    padding-bottom: 10px;
    font-size: 13px;
  }
  .formnewuser .social-bt {
    width: 45%;
    height: 30px;
    margin: 12px 0px 10px 12px;
    float: left;
  }

  #header {
    box-shadow: 0px -2px 12px 2px #aaaaaa;
  }
  #header h1 {
    display: block;
    font-family: "Sanchez-Italic";
    margin: 23px auto 0px;
    cursor: pointer;
    max-width: 50%;
  }
  #header h1 img {
    width: 100%;
  }
  #header nav ul {
    display: none;
    background: #eeeeee;
    padding: 0 5% 10px;
    width: 90%;
  }
  #header nav ul li {
    background: #fff;
    float: left;
    width: 48%;
    margin: 10px 10px 0 0;
  }
  #header nav ul li ul.children {
    display: none!important;
  }
  #header nav ul li:hover {
    background: #fff;
  }
  #header nav ul li.cat-item-2 {
    margin: 10px 0 0 10px;
  }
  #header nav ul li.cat-item-4 {
    margin: 10px 0 0 10px;
  }
  #header nav ul li.cat-item-6 {
    margin: 10px 0 0 10px;
  }
  #header nav ul li.cat-item-6 .sprite-people {
    position: relative;
    top: 6px;
    left: 79px;
    -webkit-filter: contrast(0);
  }
  #header .nav.mobile {
    width: 61px;
    height: 56px;
    margin-top: 6px;
    margin-left: 5%;
    margin-right: 6%;
    text-indent: -99999px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  #header .nav.mobile.menumobile {
    background: url(../images/menu-mobile.png) center center no-repeat;
  }
  #header .nav.mobile.entrar {
    margin-left: 6%;
    margin-right: 0%;
    text-indent: 20px;
    line-height: 58px;
    position: relative;
  }
  #header .nav.mobile.entrar ico {
    position: absolute;
    margin-top: 20px;
  }
  #header form {
    width: 90%;
    height: 31px;
    float: left;
    margin: 0px 5% 10px;
  }
  #header form input {
    width: calc(100% - 35px);
  }
  #header form.logged {
    width: 90%;
  }
  #header form.logged input {
    width: 94%;
    font-size: 15px;
    font-family: 'verlaglight';
  }
  #header form.logged button {
    width: 5%;
  }
  #header .sprite-home-user {
    font-size: 17px;
    margin: 18px 0 0 18px;
    padding: 0 10px;
    background: url(../images/sprite/home-user.png) no-repeat -10px -1px;
    line-height: 46px;
    float: left;
  }

  #banner .bullets {
    display: none;
  }
  #banner ico {
    margin: 0;
  }
  #banner ico.next {
    margin: 0;
  }

  #index {
    width: 90%;
    margin: 0 5%;
  }

  #artigos .artigo.first {
    margin: 12px 0%;
  }
  #artigos .artigo {
    margin: 12px 0%;
    width: 100%;
    height: 644px;
  }
  #artigos .artigo a {
    width: 100%;
    height: 644px;
  }
  #artigos .artigo a img {
    width: 100%;
    height: 100%;
  }
  #artigos .artigo .call-box {
    width: 100%;
    bottom: 20px;
  }
  #artigos .artigo .call-box h3 {
    width: 90%;
  }
  #artigos .artigo .call-box h3 ul li {
    font-size: 18px;
    line-height: 34px;
  }
  #artigos .artigo .call-box h2 {
    width: 90%;
    font-size: 24px;
    padding-top: 18px;
    padding-bottom: 8px;
    line-height: 28px;
  }
  #artigos .artigo .call-box p {
    width: 90%;
    font-size: 17px;
    line-height: 20px;
  }
  #artigos .pagecontent {
    margin: 0 5%;
    width: 90%;
  }
  #artigos .pagecontent h1 {
    margin: 20px 0 20px;
    font-size: 26px;
    line-height: 28px;
  }
  #artigos .pagecontent h1 a {
    padding: 4px 0;
  }
  #artigos .pagecontent p {
    font-family: 'verlaglight';
    text-align: justify;
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
  }
  #artigos .pagecontent .author {
    width: 100%;
    margin: 10px 0;
  }
  #artigos .pagecontent .author .name {
    font-size: 18px;
  }
  #artigos .pagecontent .author .description {
    font-size: 18px;
    line-height: 22px;
  }
  #artigos .pagecontent .author a {
    font-size: 18px;
    line-height: 22px;
  }
  #artigos .pagecontent .author img {
    width: 100%;
    margin-top: -60px;
  }
  #artigos .pagecontent .author .avatar {
    width: 100%;
    height: 436px;
  }
  #artigos .pagecontent .col1 {
    margin-top: 10px;
    width: 100%;
  }
  #artigos .pagecontent .col1 label {
    line-height: 68px;
    font-size: 18px;
  }
  #artigos .pagecontent .col1 input {
    height: 54px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-indent: 12px;
  }
  #artigos .pagecontent .col1 select {
    height: 54px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-indent: 12px;
  }
  #artigos .pagecontent .col1 input[type=checkbox], #artigos .pagecontent .col1 .col1.naoencontrado input[type=checkbox] {
    margin-top: 10px;
    margin-bottom: 0;
    height: 16px;
  }
  #artigos .pagecontent .col1 button {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 16px;
  }
  #artigos .pagecontent .col1.naoencontrado h5 {
    line-height: 88px;
  }
  #artigos .pagecontent .col1.naoencontrado .busca-box p {
    line-height: 40px;
  }
  #artigos .pagecontent .col1.naoencontrado .busca-box p ico {
    margin-top: 10px;
  }
  #artigos .pagecontent .col1.naoencontrado .busca-box p ico.sprite-key {
    margin-top: 14px;
  }
  #artigos .pagecontent .col1.naoencontrado .bolder {
    font-weight: 900;
    font-size: 19px !important;
  }
  #artigos .pagecontent .col2 {
    display: none;
  }
  #artigos .pagecontent .col1.naoencontrado {
    display: block;
    margin-top: 10px;
  }
  #artigos .resultados p {
    line-height: 39px;
  }

  button.mais {
    font-size: 16px;
    padding: 14px 20px;
    margin: 4px auto 20px;
  }
  button.mais ico {
    margin-top: 2px;
  }

  #footer form {
    width: 90%;
    margin: 0 5%;
  }
  #footer form input {
    width: 88%;
    font-size: 16px;
  }
  #footer form button {
    width: 7%;
  }
  #footer form p {
    text-align: center;
    font-size: 16px;
  }
  #footer .container div {
    min-width: 50%;
    margin: 0 auto;
    float: none;
    padding-top: 4px;
  }
  #footer .container div a {
    border: 0;
    float: left;
  }
  #footer .container div a img {
    width: 144px;
    margin-top: 5px;
  }
  #footer .container div p {
    width: auto;
    float: left;
    font-size: 18px;
    margin-right: 1%;
    line-height: 38px;
  }
  #footer p.copyright {
    margin-top: 0;
  }

  #single {
    width: 90%;
    margin: 0 5%;
  }
  #single #sidebar {
    width: 100%;
  }
  #single #sidebar .author {
    width: 100%;
  }
  #single #sidebar .author img {
    display: none;
  }
  #single #sidebar .author h4 {
    float: left;
  }
  #single #sidebar .author h4 span {
    font-weight: 100;
    font-family: 'verlaglight';
    float: left;
    margin-right: 8px;
  }
  #single #sidebar .author p {
    display: none;
  }
  #single #sidebar .author div.authorshare {
    float: right;
    border: 0;
    margin-top: 0px;
  }
  #single #sidebar .author div.authorshare header {
    text-indent: -999999px;
    float: left;
    margin-top: 0;
    margin-right: 6px;
    width: 53px;
    height: 53px;
  }
  #single #sidebar .author div.authorshare a {
    text-indent: -999999px;
    float: left;
    margin-top: 0;
    width: 53px;
    height: 53px;
  }
}
