/* ADMIN OVERWRITES */
/* #wp-image-toolbar {
    i {
        width: 20px;
        height: 20px;
        font-size: 20px;        
    }
} */

#marker-manager-modal { display: none; }

#marker-manager-wrapper {

    button {
        background: #de0084;
        font-family: "Open Sans",sans-serif;
        font-size: 12px;
        color: #fff;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 0px solid #c0c1c3;
        outline: none;
        display: inline-block;
        padding: 7px 10px 7px;
        margin-top: 10px;
        cursor: pointer;

        &.add { position: absolute; top: 0; left: 0; }
        &.save { background-color: #080 }
        &.remove { background-color: #878787 }
    }

    .marker-form-wrapper {
        min-height: 150px;
        border-bottom: 1px solid #d8d8d8;
        position: relative;
        overflow: hidden;
        margin-top: 10px;
    }

    .marker-form {
        display: none;
        input {
            height: 32px;
            line-height: 32px;
            width: 50%;
            border: 1px solid #c0c1c3;
            display: block;
            margin-top: 10px;
            font-size: 14px; 
            font-weight: 300;    
        }

        #success-message {
            display: none;
            position: absolute;
            top: 102px;
            left: 140px;
            color: #006100;
            font-weight: bold;
        }
    }

    .image-wrapper {
        margin: 10px 0;
        height: 360px;

        #image-canvas {
            margin: 0 auto;
            position: relative;
            img {
                max-height: 360px;
                max-width: 600px
            }

            .marker {
                display: block;
                width: 31px;
                height: 31px;
                background: url(../images/image-marker-tag.gif) no-repeat;
                position: absolute;
                z-index: 10;

                &.selected { outline: 3px solid #fff; z-index: 20; }
            }
        }

    }
}

.image-marker {
    .marker {
        display: block;
        width: 31px;
        height: 31px;
        background: url(../images/image-marker-tag.gif) no-repeat;
        position: absolute;
        z-index: 10;  
    }  
}